<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- th:fragment 다른 페이지에 포함시킬 영역을 만들어 준다. -->
	<div th:fragment="footer">
		<div class="row featurette main_row4 footer">
			<div class="col-md-12 order-md-1">
				<span class="footer-text"><strong>대표</strong> 김성현 <span
					class="light">|</span> <strong>사업자번호</strong> 333-44-55566 <br>
					<strong>직업정보제공사업 신고번호</strong> 2022-서울서초-0001 <br> <strong>주소</strong>
					서울시 강남구 강남대로 114길 22(토마토서비스)<br> <strong>전화</strong>
					010-2717-6906 <span class="light">|</span> <strong>이메일문의</strong>
					oilater@naver.com </span>
			</div>
		</div>
	</div>
</body>
</html>