<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>중고거래 매물보기</title>
</head>
<body>
	<div layout:fragment="content">
		<!-- 중고거래 인기 매물 -->
		<div class="row featurette deal-row">
			<div class="col-md-2"></div>
			<div class="col-md-8 deal-page">
				<h1 class="featurette-heading fw-normal lh-1 main_deal_title">중고거래
					인기매물</h1>

				<div class="container deal_con">

					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
						<div class="col-md-3">
							<a href="#" class="card-link">
								<div class="card-image">
									<img
										src="https://t1.daumcdn.net/cfile/tistory/24283C3858F778CA2E"
										width="100%" height="250px" alt="인기매물1">
								</div>
								<div class="card-detail">
									<p>스팸</p>
									<p>
										<strong>1,000원</strong>
									</p>
									<p class="main-deal-detail3">서울시 노원구 공릉 2동</p>
								</div>
							</a>
						</div>

						<div class="col-md-3">
							<a href="#" class="card-link">
								<div class="card-image">
									<img
										src="https://t1.daumcdn.net/cfile/tistory/24283C3858F778CA2E"
										width="100%" height="250px" alt="인기매물1">
								</div>
								<div class="card-detail">
									<p>레드향</p>
									<p>
										<strong>10,000원</strong>
									</p>
									<p class="main-deal-detail3">인천 연수구 송도동</p>
								</div>
							</a>
						</div>

						<div class="col-md-3">
							<a href="#" class="card-link">
								<div class="card-image">
									<img
										src="https://t1.daumcdn.net/cfile/tistory/24283C3858F778CA2E"
										width="100%" height="250px" alt="인기매물1">
								</div>
								<div class="card-detail">
									<p>아이폰 13 프로맥스 팖</p>
									<p>
										<strong>500,000원</strong>
									</p>
									<p class="main-deal-detail3">충남 천안시 서북구 성성동</p>
								</div>
							</a>
						</div>

						<div class="col-md-3">
							<a href="#" class="card-link">
								<div class="card-image">
									<img
										src="https://t1.daumcdn.net/cfile/tistory/24283C3858F778CA2E"
										width="100%" height="250px" alt="인기매물1">
								</div>
								<div class="card-detail">
									<p>동원참치캔</p>
									<p>
										<strong>25,000원</strong>
									</p>
									<p class="main-deal-detail3">광주 북구 동림동</p>
								</div>
							</a>
						</div>

						<div class="col-md-3">
							<a href="#" class="card-link">
								<div class="card-image">
									<img
										src="https://t1.daumcdn.net/cfile/tistory/24283C3858F778CA2E"
										width="100%" height="250px" alt="인기매물1">
								</div>
								<div class="card-detail">
									<p>스팸, 리챔, 참치</p>
									<p>
										<strong>1,000원</strong>
									</p>
									<p class="main-deal-detail3">대구 달성군 현풍읍</p>
								</div>
							</a>
						</div>

						<div class="col-md-3">
							<a href="#" class="card-link">
								<div class="card-image">
									<img
										src="https://t1.daumcdn.net/cfile/tistory/24283C3858F778CA2E"
										width="100%" height="250px" alt="인기매물1">
								</div>
								<div class="card-detail">
									<p>집에 있는 가방들</p>
									<p>
										<strong>10,000원</strong>
									</p>
									<p class="main-deal-detail3">경기도 파주시 다율동</p>
								</div>
							</a>
						</div>

						<div class="col-md-3">
							<a href="#" class="card-link">
								<div class="card-image">
									<img
										src="https://t1.daumcdn.net/cfile/tistory/24283C3858F778CA2E"
										width="100%" height="250px" alt="인기매물1">
								</div>
								<div class="card-detail">
									<p>삼성 커브 모니터</p>
									<p>
										<strong>100,000원</strong>
									</p>
									<p class="main-deal-detail3">서울시 강남구 일원동</p>
								</div>
							</a>
						</div>

						<div class="col-md-3">
							<a href="#" class="card-link">
								<div class="card-image">
									<img
										src="https://t1.daumcdn.net/cfile/tistory/24283C3858F778CA2E"
										width="100%" height="250px" alt="인기매물1">
								</div>
								<div class="card-detail">
									<p>제습기 토마토해요</p>
									<p>
										<strong>10,000원</strong>
									</p>
									<p class="main-deal-detail3">경기도 수원시 영통구 영통 3동</p>
								</div>
							</a>
						</div>

						<div class="col-md-3">
							<a href="#" class="card-link">
								<div class="card-image">
									<img
										src="https://t1.daumcdn.net/cfile/tistory/24283C3858F778CA2E"
										width="100%" height="250px" alt="인기매물1">
								</div>
								<div class="card-detail">
									<p>동원참치캔</p>
									<p>
										<strong>25,000원</strong>
									</p>
									<p class="main-deal-detail3">광주 북구 동림동</p>
								</div>
							</a>
						</div>

						<div class="col-md-3">
							<a href="#" class="card-link">
								<div class="card-image">
									<img
										src="https://t1.daumcdn.net/cfile/tistory/24283C3858F778CA2E"
										width="100%" height="250px" alt="인기매물1">
								</div>
								<div class="card-detail">
									<p>동원참치캔</p>
									<p>
										<strong>25,000원</strong>
									</p>
									<p class="main-deal-detail3">광주 북구 동림동</p>
								</div>
							</a>
						</div>

						<div class="col-md-3">
							<a href="#" class="card-link">
								<div class="card-image">
									<img
										src="https://t1.daumcdn.net/cfile/tistory/24283C3858F778CA2E"
										width="100%" height="250px" alt="인기매물1">
								</div>
								<div class="card-detail">
									<p>동원참치캔</p>
									<p>
										<strong>25,000원</strong>
									</p>
									<p class="main-deal-detail3">광주 북구 동림동</p>
								</div>
							</a>
						</div>

						<div class="col-md-3">
							<a href="#" class="card-link">
								<div class="card-image">
									<img
										src="https://t1.daumcdn.net/cfile/tistory/24283C3858F778CA2E"
										width="100%" height="250px" alt="인기매물1">
								</div>
								<div class="card-detail">
									<p>동원참치캔</p>
									<p>
										<strong>25,000원</strong>
									</p>
									<p class="main-deal-detail3">광주 북구 동림동</p>
								</div>
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
		<!-- 앱으로 연결 -->
		<div class="row featurette deal_row2">
			<div class="col-md-12 order-md-1">
				<div class="deal-morelook">
					<h1 class="deal-morelook-title">더 구경하고 싶나요?</h1>
					<p class="deal-morelook-detail">토마토 마켓 앱에서 따뜻한 거래를 직접 경험해보세요!</p>
				</div>
				<div class="btn-deal">
					<button class="btn btn-lg btn-primary btn-deal-android"
						type="submit">App Store</button>
					<button class="btn btn-lg btn-primary btn-deal-ios" type="submit">Google
						Play</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>